#wizard {
  border: 1px solid #bfbfbf;
  white-space: normal;
  height: 60vh;
  max-height: 60vh;
  position: relative;
}

#linekeeper {
  height: 55vh;
  background: #f9fafb;
  border-right: 1px solid #bfbfbf;
}

#preview {
  height: 100%;
  position: static;
  z-index: 9;
  flex-basis: auto;
  background: #f9fafb;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  color: #58595a;
  border-left: 1px solid #bfbfbf;
  border-right: 1px solid #bfbfbf;
}

#mapping {
  padding: 0;
  height: 60vh;
}

.stage {
  position: relative;
  margin-bottom: 1em;
}

.leader-line {
  font-family: Arial, sans-serif;
}

.tab-content, #dest {
  height: auto;
}

.tabHeader {
  display: inline-flex;
  justify-content: space-between;
  font-weight: 400;
  padding: 10px;
  font-size: 14px;
  cursor: default;
}

.data-tabs ul {
  position: absolute;
  bottom: 0;
}

#dest .active {
  /*
  height: 50vh;
  */
  margin-bottom:0;
  margin-top:-1px;
}

#dest {
  position: relative;
  padding: 0;
}

#source {
  height: 60vh;
  border-right: 1px solid #bfbfbf;
  padding-top: 5px;
  position: relative;
  overflow-y: auto;
}

#dest .nav-tabs > li > a {
  border-radius: 0;
}

.nav-tabs li.active a {
  background-color: #ffffff;
  border-width: 0 0 2px 0 !important;
  border-color: #00a2df !important;
  font-weight: bold !important;
}

#frame {
  padding-top: 5px;
  max-height: 52vh;
  position: relative;
  overflow-y: auto;
}

#dest {
  max-height: 50vh;
  height: 60vh;
  padding: 0;
  overflow-y: auto;
}

#tabNames {
  height: 10% !important;
}

.nav-tabs {
  border-bottom: 0;
}

.connector {
  margin-right: 0;
}

.hidden {
  visibility: hidden;
}

.mapping-tabs {
  overflow: hidden;
  background-color: #e8e9ea;
  justify-content: flex-end;
  box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.1);
  display: flex;
  position: absolute;
  flex-direction: row;
  bottom: 0;
  width: 100%;
}

.mapping-tabs span {
  background-color: inherit;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  border-bottom: 2px solid #e8e9ea;
}

.mapping-tabs span:hover {
  background-color: #ddd;
}

.mapping-tabs span.active {
  background-color: white;
  /*border-width: 0 0 2px 0 !important;
  border-color: #00a2df !important;*/
  border-bottom: 2px solid #00a2df;
  color: #000;
  /*font-weight: bold !important;*/
}

#source::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#source::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

#source::-webkit-scrollbar-thumb
{
  background-color: #000000;
}

#dest::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#dest::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

#dest::-webkit-scrollbar-thumb
{
  background-color: #000000;
}

#frame::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#frame::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

#frame::-webkit-scrollbar-thumb
{
  background-color: #000000;
}



