<div class="container" style="position: relative">
  <div class="row" id="wizard">
    <div id="mapping" class="col-md-8 col-xs-8">
      <div id="source" class="col-md-5 col-xs-5">
        <app-json-tree-editor (restructureEvent)="connectLines()" [side]="'source'" [inputData]="data1"
                              (dragEvent)="setSourceData($event)"></app-json-tree-editor>
      </div>
      <div id="dest" class="col-md-7 col-xs-7">

        <div class="tabcontent active" id="1a">
          <div id="linekeeper" class="col-md-4 col-xs-4"></div>
          <div class="col-md-8 col-xs-8" id="frame">
            <app-json-tree-editor (restructureEvent)="connectLines()" [side]="'dest'" [inputData]="data2"
                                  (dropEvent)="connectLine($event)" [dragData]="dragData"></app-json-tree-editor>
          </div>
        </div>
        <div class="tabcontent hidden" id="2a">
          <div class="tabHeader">
            Transformation script
          </div>
          <pre>{{transformationScript | json}}</pre>
        </div>
        <div class="tabcontent hidden" id="3a">
          <div class="tabHeader">
            Sample data for payload (application/json)
          </div>
        </div>

      </div>

      <div class="mapping-tabs">
        <span class="tablinks" (click)="openTab($event, '3a');hideLines()">Sample Data</span>
        <span class="tablinks" (click)="openTab($event, '2a');hideLines()">Script</span>
        <span class="tablinks active" (click)="openTab($event, '1a');showLines()">Mapping</span>
      </div>

    </div>
    <div id="preview" class="col-md-4 col-xs-4">
      <pre>{{preview | json}}</pre>
    </div>
  </div>
</div>
