<div class="container">
  <div class="row" style="border-style: solid;border-width: 1px">
    <div id="source" class="col-md-3" style="max-height: 80vh; overflow-y: auto;">
      <app-json-tree [inputData]="data1"></app-json-tree>
    </div>
    <div class="col-md-2" style="height: 80vh;border-left: 1px solid;border-right: 1px solid">
    </div>
    <div id="dest" class="col-md-3" style="max-height: 80vh; overflow-y: auto;">
      <app-json-tree [inputData]="data2" (dropEvent)="connectLine($event)"></app-json-tree>
    </div>
    <div class="col-md-4">Preview</div>
  </div>
</div>
